[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
deta = {version = "==1.1.0a2", extras = ["async"]}
fastapi = {extras = ["all"], version = "*"}
devtools = {extras = ["pygments"], version = "*"}
aiohttp = "*"
python-dotenv = "*"
pydantic = "*"
install = "*"

[dev-packages]

[requires]
python_version = "3.9"
